# Build folders
build/
out/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Visual Studio / MSVC
.vs/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.obj
*.pdb
*.ilk
*.idb
*.tlog
*.lastbuildstate
*.log

# Executables / libraries
*.exe
*.dll
*.lib
*.a
*.so
*.dylib

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# User-generated data
orbits/
release/